//! Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
    font-weight: 400;
    font-size: 16px;
    color: #939393;
    text-align: left;
}

:root {
    --bgcolor: #1e3266;
    --color: #088395;
    --hover: #19A7CE;
    --active: #05BFDB;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    width: 100%;
    display: flex;
}

@media(min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media(min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media(min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}



.title {
    font-size: 48px;
    color: var(--color);
    margin-bottom: 22px;
    font-weight: 500;
    line-height: 1.2;
}

.form_control {
    height: 47px;
    background: #fff;
    border-radius: 0;
    border: 1px solid var(--color);
    outline: none;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    margin-top: 20px;

    &:nth-child(1) {
        margin-top: 0;
    }

    &:nth-child(2) {
        margin-top: 0;
    }

    &:focus {
        border: none;
        border-bottom: 2px solid var(--color);
    }
}