footer {
    width: 100%;
    height: 300px;
    background:#1e3266;
    padding-bottom: 50px;

    .row {
        height: 100%;
        align-items: center;
        justify-content: end;
        flex-direction: column;

        .social {
            a {
                font-size: 18px;
                font-weight: 500;
                line-height: 1.7;
                color: #ffff;
                padding: 0 10px;
                margin-bottom: 30px;
                transition: .5s ease;

                &:hover {
                    color: var(--hover);
                }
            }
        }

        span {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.7;
            padding: 0 10px;
            margin-bottom: 10px;
            color: #fff;

            a {
                color: #fff;
                transition: .5s ease;

                &:hover {
                    color: var(--hover);
                }
            }
        }
        p{
            color: #fff;
        }
    }
}